.sobre-nos {
    min-height: 100vh;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;

    background-image: url(../svg/Stars4.svg);
    background-repeat: no-repeat;
    background-size: cover;

    & .img {
        border: 1px solid var(--txt-title);
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    }

    & div.text-wrapper {

        width: 60%;

        background: linear-gradient(rgba(15, 46, 70, 0.9), rgba(0, 0, 0, 0));
        padding: var(--font-large);

        & hgroup {

            & p {
                font-family: var(--font-accent);
                font-size: var(--font-large);
            }

            & h1 {
                font-size: var(--font-xlarge);
                font-family: var(--font-accent);
                border-bottom: 5px solid var(--txt-title);
                margin-bottom: 1em;
            }

        }

        & p {
            font-family: var(--font-text);
            font-size: var(--font-small);
            margin-top: 1em;
            word-spacing: 1px;
        }
    }
}



@media screen and (max-width: 1024px) {
    .sobre-nos {
        flex-direction: column;
        justify-content: start;
        margin: 0;
        
        & div.text-wrapper {
            width: 100%;

            & article {
                & h1 {
                    width: 70%;
                    margin: 0 auto;
                    font-size: var(--font-large);
                    text-align: center;
                }

                & p {
                    width: 70%;
                    margin: 1.5rem auto;
                    font-family: var(--font-text);
                    font-size: var(--font-medium);
                }
            }
        }
    }
}