
.sobre-nos {
    min-height: 100vh;
    padding: 5rem 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    background-image: url(../svg/Stars.svg);
}

.sobre-nos hr {
    margin: 2rem auto;
    color: var(--txt-title);
    width: 100%;
    border-style: dashed;
}

.sobre-nos > .text-wrapper h1 {
    font-size: 4.5rem;
    border-bottom: 5px solid var(--txt-title);
    margin-bottom: 1em;
}


.sobre-nos > .text-wrapper span {
    color: var(--txt-title);
    font-family: 'Orbitron', sans-serif;
}

.sobre-nos > .text-wrapper p{
    font-family: 'Orbitron', sans-serif;
}

.sobre-nos > .text-wrapper p {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 4rem; */
    margin-top: 1em;
    word-spacing: 1px;
}

.sobre-nos > .img img {
    width: 100%;
    height: auto;

    min-width: 50vh;

    border: 1px solid var(--txt-title);
    box-shadow: 2px 3px 2px rgba(0,0,0,0.4);
}

@media screen and (max-width: 1024px) {
    .sobre-nos {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }


    .sobre-nos > .text-wrapper {
        padding-right: 2em;
    }
    
    .sobre-nos > .text-wrapper h1 {
        font-size: 2rem;
        text-align: center;
    }

    .sobre-nos > .text-wrapper p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin-top: 1em;
        word-spacing: 1px;
        text-align: justify;
        margin-left: 30px;
    }

}

.intro-font{
    font-family: 'Orbitron' !important;
}