canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .details {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
  .anim-text {
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 5rem;
    right: 20%;
    bottom: 40%;
    transform: translate(-20%, -40%);
  }
  
  @media screen and (max-width: 1024px) {
    .anim-text {
      font-size: 2rem;
      right: 50%;
      bottom: 25%;
      transform: translate(50%, 50%);
    }
    h1 {
      font-size: 2rem;
    }
  }
  