.cardSection {
    min-height: 100vh;

    margin-top: var(--font-xlarge);
    margin-bottom: var(--font-xlarge);;

    /* padding-top: 2rem; */
    padding-bottom: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(../svg/Stars.svg);
    background-repeat: no-repeat;
    background-size: cover; 

    & h1{
        font-size: var(--font-xlarge);
        font-family: var(--font-accent);
        text-align: center;
    }

    & hr{
        width: 90%;
        margin: var(--font-large) auto;
    }

    & div.cards{
        display: flex;
        gap: 2.5rem;
        justify-content: center;

        margin: 0 auto;
        
        & article {
            
            border: 2px double var(--accent-color);
            background: linear-gradient(rgba(9, 67, 153, 0.116), rgba(12, 2, 2, 0.418));
            
           
            
            & div.box {
                max-width: 25vw;
                display: flex;
                flex-direction: column;
                margin: 1.25rem;
                height: auto;
                
                & header.card-header {
                    margin: 1rem 1.2rem;
                    white-space: nowrap;
                    & h3 {
                        font-family: var(--font-accent);
                        font-size: var(--font-medium);
                    }
                }
                
                & div.card-content{
                    margin: 0 auto;
                    width: 90%;

                    & .price p{
                        font-family: var(--font-accent);
                        font-size: var(--font-medium);
                        
                        & .text-accent{
                            font-weight: 800;
                        }
                    }
                }

                & .card-footer {
                    display: flex;
                    justify-content: center;
                }
            }

             /* ESTILOS APLICADOS NO CARD 2 */
             &:nth-of-type(2){
                background: linear-gradient(180deg, rgba(170, 143, 56, 0.397), rgba(255, 255, 255, 0));
                border-color: #ffb922;
                border-style: solid;

                & h2{
                    font-size: var(--font-large);
                }
                
                & hr{
                    border-color: #ffb922;
                }
                
                & button{
                    background-color: #ffb922;
                    border-color: #ffb922;
                }
                
                & span.text-accent{
                    color: #ffb922;
                }
            }
            /*  */
            
        }
    }

    & h2 {
        margin-top: .75rem;
        margin-bottom: 2rem;
        font-size: var(--font-medium);
        font-family: var(--font-accent);
    }
}


@media screen and (max-width: 1024px){

    .cardSection{
        padding: 0 4.5rem;

         
        & .cards{
            flex-direction: column;
            justify-content: center;

            margin: 0;
            padding: 0;

            & div.box {
                height: 60vh;
                max-width: 60vw !important;
            }
    
        }
    }

}