#footer-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.copy {
    display: flex;
}

.copy ul li {
    padding-bottom: 10px;
}

.copy ul li :hover{
    font-weight: bold;
}

#footer-2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 16px;
}

#footer-2 ul li{
    margin-bottom: 5px;
}

#footer-2 ul li :hover{
 font-weight: bold;
}

#footer-3 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 12px;
}


.social {
    background-color: var(--txt-title);
    padding: 10px 10px;
    text-align: center;;
}

.social span {
    margin-left: 6px ;
}

.social span :hover{
    cursor: pointer;
}

.footerSection {
    display: flex;    
    justify-content: center;
}

.footerSection article {
    width: calc(96vw / 3);
}
.footerSection article ul {
    list-style: none;

}

.footerSection article ul li a{
    color: #FFF;
    text-decoration: none;
}

#footer-3 h3{
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
 }

 form{
    display: flex;
    flex-direction: column;
    
    padding-inline: 10px;
}

 label[for="checkbox"] {
    font-size: 10px;
 }

 input[name="email"]{
    color: var(--bg-primary);
    background-color: transparent;
    color: #FFF;
    border-style: none;
    border-bottom: 2px solid #FFF;
    outline: none;
 }

 #footer-3 h3 {
    margin-bottom: 10px;
 }

 #footer-3 p {
    text-align: center;
    margin-bottom: 10px;
 }

.terms {
    display: flex;
    align-items: flex-start;
}

.terms input[type="checkbox"] { 
    margin-right: 5px;
}
 #footer-3 input[name="email"] {
    margin-bottom: 10px;
 }

 #footer-3 form button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    padding: 5px 20px 5px;
    background-color: transparent;
    color: #FFF;
    border: 1px solid var(--bg-primary);
    border-color: var(--txt-title);
 }

@media (min-width: 320px) and (max-width: 425px) {
    .footerSection {
        display: flex; 
        flex-direction: column;   
        justify-content: center;
    }
    
    .copy {
        display: flex;
        flex-direction: column;
    }

    .copy p {
        order: 2;
        padding-bottom: 0px;

    }

    .footerSection article {
        width: 96vw ;
    }
    
    #footer-1 {
        order: 3;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    #footer-2 {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 6vw;
        padding-top: 2vh;
        font-size: 16px;
     }

     #footer-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        margin-bottom: 20px;
     }
    .copy ul li {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .copy{
        display: flex;
        flex-direction: column;
    }
    #footer-1 p{
    order: 2;
    }
}

@media (min-width: 1368px) and (max-width: 1920px){
    .copy {
        justify-content: space-around;
        font-size: 14px;
    }

    #footer-2 {
        font-size: 18px;
    }

    #footer-3 h3 {
        font-size: 25px;
    }

    #footer-3 p {
        font-size: 16px;
    }

    #footer-3 label[for="email"] {
        font-size: 16px;
    }

    #footer-3  label[for="checkbox"] {
        font-size: 14px;
        margin-bottom: 15px;
    }

    #footer-3 button[type="button"] {
        font-size: 18px;
        width: 200px;
    }

}