@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700&display=swap');

:root {

    --bg-primary: #fff;
    --txt-primary: #000;
    --txt-title: #0057FF;
    --btn-accent: #0557FF;

    --space-color: #080808;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #000;
        --txt-primary: #fff;
    }
}

/* ESTILOS PRINCIPAIS ========================== */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
}

button {
    cursor: pointer;

    padding: 1rem 1.5rem;

    background-color: var(--btn-accent);
    color: white;

    font-family: 'Orbitron';
    font-weight: 700;

    border: none;
    white-space: nowrap;
}

.logo-title{
    font-family: 'Orbitron', sans-serif;
    color: #0057FF;
}

/* Botão padrão */
button * {
    font-family: 'Orbitron';
}

button:hover {
    background-color: white;
    outline: 2px solid var(--btn-accent);
    color: var(--txt-title);
}

.text-accent {
    color: var(--txt-title) !important;
}

.text-accent:hover {
    color:white !important;
    text-shadow: 1px 0 var(--txt-title),
                0 -1px var(--txt-title),
                -1px 0 var(--txt-title),
                0 1px var(--txt-title);
}