@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700&display=swap');

:root {

    --bg-primary: #FFF;
    --txt-primary: #000;
    --txt-title: #0057FF;

}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #000;
        --txt-primary: #fff;
    }
}

/* ESTILOS PRINCIPAIS ========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
}

.logo-title {
    font-family: 'Orbitron', sans-serif;
    color: #0057FF;
}

/*ESTILIZAÇÃO CARDS ===============================*/
.cardSection {
    margin-top: 20px;
    margin-inline: 30px;
    margin-bottom: 20px;
}

.cardSection h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.cardSection article {
    border: 5px solid var(--txt-title);
    border-radius: 15px;
    background-image: linear-gradient(330deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    width: 360px;
    height: 600px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 50px 35px 20px;
}

.card-header {
    margin-bottom: 20px;
}

.card-header h3 {
    font-size: 14.5px;
}

.card-header h3 span {
    color: var(--txt-title);
}

#first-span {
    color: var(--txt-title);
    font-size: 35px;
    font-weight: bold;
    display: block;
}

#second-span {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.travel {
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
}

.description span {
    display: block;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: center;
}

.card-footer button {
    background-color: var(--txt-title);
    padding: 15px 40px 15px;
    font-weight: 500;
}

.card-footer button:hover {
    font-weight: bold;
    cursor: pointer;
}



@media (min-width: 320px) and (max-width: 375px) {
    .cardSection {
        margin-top: 5px;
        margin-bottom: 10px;    
    }

    .cardSection h2 {
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px
    }

    .cardSection article {
        width: 300px;
        height: max-content;
    }

    .box {
        margin: 5px 10px 20px;
    }

    .cards {
        display: flex;
        justify-content: center;
    }
    

    .card-header h3 {
        font-size: 20px;
        text-align: center;
    }

    #first-span {
        font-size: 25px;
        display: block;
    }

    .description {
        font-size: 12px;
    }

    .card-footer button {
        padding: 10px 25px 15px;
        border-radius: 15px;
    }

    #card-1,
    #card-2, 
    #card-3 {
        margin-bottom: 40px;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .cardSection h2 {
        font-size: 20px;
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .cardSection article {
        width: 300px;
        height: max-content;
    }

    .box {
        margin: 5px 10px 20px;
    }

    .card-header h3 {
        font-size: 20px;
        text-align: center;
    }

    #first-span {
        font-size: 25px;
        display: block;
    }

    .description {
        font-size: 14px;
    }

    .card-footer button {
        padding: 10px 25px 15px;
        border-radius: 15px;
    }

    #card-1,
    #card-2,
    #card-3 {
        margin-bottom: 40px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cardSection h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .cardSection article {
        width: 400px;
        height: max-content;
    }

    .box {
        margin: 5px 10px 20px;
    }

    .card-header h3 {
        font-size: 27px;
        text-align: center;
    }

    #first-span {
        font-size: 35px;
        display: block;
    }

    .description {
        font-size: 18px;
    }

    .card-footer button {
        padding: 10px 25px 15px;
        border-radius: 15px;
    }

    #card-1,
    #card-2,
    #card-3 {
        margin-bottom: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .cardSection h2 {
        font-size: 30px;
    }
    
    .cards {
        display: flex;
        justify-content: center;
    }
    
    .cardSection article {
        width: 800px;
        height: max-content;
    }
    
    .box {
        margin: 5px 10px 20px;
    }
    
    .card-header h3 {
        font-size: 25px;
        text-align: center;
    }
    
    #first-span {
        font-size: 35px;
        display: block;
    }
    
    .description {
        font-size: 18px;
    }
    
    .card-footer button {
        padding: 10px 25px 15px;
        border-radius: 15px;
    }
    
    #card-1,
    #card-2,
    #card-3 {
        margin-bottom: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .cardSection {
        margin-top: 15px;
        margin-inline: 30px;
        margin-bottom: 10px;
    }

    .cardSection h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 25px
    }

    .cards {
        display: flex;
        justify-content: space-between;
    }

    .cardSection article {
        width: 320px;
        height: 500px;
    }

    .box {
        margin: 5px 10px 20px;
    }

    .card-header h3 {
        font-size: 20px;
        text-align: center;
    }

    #first-span {
        font-size: 25px;
        display: block;
    }

    .description {
        font-size: 14px;
    }

    .card-footer p {
        padding: 10px 25px 15px;
        border-radius: 15px;
    }
    #card-1,
    #card-3 {
        margin-top: 40px;
    }
}

@media (min-width: 1251px) and (max-width: 1440px) {
    .cardSection {
        margin-top: 15px;
        margin-inline: 30px;
        margin-bottom: 10px;
    }

    .cardSection h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 25px
    }

    .cards {
        display: flex;
        justify-content: space-between;
    }

    .cardSection article {
        width: 380px;
        height: max-content;
    }

    .box {
        margin: 5px 10px 20px;
    }

    .card-header h3 {
        font-size: 26px;
        text-align: center;
    }

    #first-span {
        font-size: 25px;
        display: block;
    }

    .description {
        font-size: 16px;
    }

    .card-footer button {
        padding: 10px 25px 15px;
        border-radius: 15px;
    }

    #card-1,
    #card-3 {
        margin-top: 40px;
    }
}

@media (min-width: 1441px) and (max-width: 1600px) {
    .cardSection {
        margin-top: 15px;
        margin-inline: 30px;
        margin-bottom: 10px;
    }

    .card-header h3 {
        font-size: 30px;
        text-align: center;
    }

    .cardSection article {
        width: 450px;
        height: max-content;
    }

    #card-1,
    #card-3 {
        margin-top: 40px;
    }
}

@media (min-width: 1601px) and (max-width: 1920px) {
    .cardSection article {
        width: 480px;
        height: max-content;
    }

    #card-1,
    #card-3 {
        margin-top: 40px;
    }
}
