.header {

    background-color: var(--space-color);
    background-image: url("../svg/Stars.svg");

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    flex-direction: row;
    scroll-behavior: smooth;
}

.foguete {
    position: absolute;
    top: 5%;
    left: 62.5vh;

    filter: opacity(0.6);
    transition: 1000ms;
    animation: rocketup 3.5s steps(60, end);
}

@keyframes rocketup {
    0% {
        opacity: 10%;
        top: 10%;
    }

    100% {
        opacity: 100%;
        top: 5%
    }
}

.lens-flare {
    position: absolute;
    top: 4vh;
    left: 66.5vh;
    z-index: 3;
    opacity: 0.7;
    animation: shine 8.5s infinite,
        tilt 3.5s infinite,
        rocketup 3.5s steps(30, end);
}

.lens-blur {
    position: absolute;
    top: 12vh;
    left: 90.5vh;
    z-index: 3;
    animation: shine 3.5s infinite,
        rocketup 3.5s steps(30, end);
}

.flare {
    position: absolute;
    opacity: 0.5;
    top: 1%;
    left: 97.9vh;
    z-index: 2;
    animation:
        tilt 3.5s infinite,
        rocketup 3.5s steps(30, end);
    /* shine 1.5s infinite; */
}

@keyframes tilt {
    0% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0.5deg);
    }

    75% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

@keyframes shine {
    0% {
        opacity: 1;
        filter: brightness(2.3);
    }

    50% {

        opacity: 0.6;
        filter: brightness(0.5);
    }

    75% {

        opacity: 0.6;
        filter: brightness(0.9);
    }

    100% {

        opacity: 1;
        filter: brightness(2.3);
    }
}

.hero-intro {
    position: absolute;
    display: grid;

    top: 45vh;
    left: 50vh;

    text-align: center;

    gap: 24px;
}

.hero-intro h1 {
    font-size: 70px;
    font-weight: 500;
    font-family: 'Orbitron';
}

.hero-intro p {
    font-size: 24px;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.67);
}

.hero-intro>button {
    margin: 0 auto;
    width: fit-content;
}

.hero-intro h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 2.5s steps(40, end);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}