#introduction-section {
    min-height: 120vh;
    padding: 5rem 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;


    background-image: url(../svg/Stars5.svg);
    background-repeat: no-repeat;
    background-size: cover;


    & hr {
        margin: var(--font-medium) 0;
        border: 1px dashed var(--accent-color);
        
    }

    & hr {
        width: 60%;
    }
    
    & h1.title-introduction-section {
        font-size: var(--font-xlarge);
        font-family: var(--font-accent);

        width: 50%;

        margin-bottom: var(--font-large);
    }

    & div.wrapper-introduction-section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: var(--font-medium);

        background: linear-gradient(rgba(15, 46, 70, 0.9), rgba(0,0,0,0));
        padding: var(--font-large);

        width: fit-content;

        &>p {
            font-size: var(--font-medium);
        }

        &>button {
            align-self: flex-start;
        }
    }

    & .intro-list {

        list-style: "\27A4   ";
        color: var(--accent-color);

        &>li {
            color: var(--txt-primary);
            font-size: var(--font-medium);
        }
    }
}




@media (min-width: 1200px) and (max-width: 1919px) {
    #introduction-section {
        padding: 0 10rem;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    #introduction-section {
        padding: 0 6rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #introduction-section {
        padding: 0 5rem;


        &>h1.title-introduction-section {
            font-size: var(--font-large);
            margin-bottom: 6rem;
        }

        & div.wrapper-introduction-section {
            display: flex;
            flex-direction: column;
        }
    }

}

@media (max-width: 480px) {
    #introduction-section {
        padding: 0 3rem;

        & h1.title-introduction-section {
            margin-bottom: 3rem;
        }

        & div.wrapper-introduction-section {
            display: flex;
            flex-direction: column;
        }

    }
}