#rocket {
    min-height: 100vh;
    padding-bottom: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(../svg/Stars3.svg);
    /* background: linear-gradient(var(--space-color) 70%, rgba(16, 52, 94, 0.623) 200%); */
    background-repeat: no-repeat;
    background-size: cover;

    & .title-rocket{
        text-align: start;
        font-size: var(--font-xlarge);
        font-family: var(--font-accent);
        
        border-bottom: 5px solid var(--txt-title);
        margin-bottom: var(--font-small);

    }

    & p {
        font-size: var(--font-medium);
        line-height: 1.75;
    }
    
    & .container-img-rocket{
        
        border-top: 1px solid rgba(86, 92, 141, 0.575);
        border-bottom: 1px solid rgba(86, 92, 141, 0.575);
        padding: 2% 22%;
        background: linear-gradient(#14111d85, rgba(0, 0, 0, 0.363));
        
        & .img-rocket {
            width: 100%;
            margin-top: var(--font-medium);
            filter: opacity(0.9);
            border-radius: 0.8rem;
            box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
            height: 70%;
        }
    }
}