#rocket {
    min-height: 110vh;
    padding: 5rem 20rem;


    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(../svg/Stars.svg);
    /* background: linear-gradient(var(--space-color) 70%, rgba(16, 52, 94, 0.623) 200%); */
}

#rocket hr {
    margin: 2rem auto;
    width: 100%;
    border-style: dashed;
}

.title-rocket {
    text-align: start;
    font-size: 3.75rem;

    border-bottom: 5px solid var(--txt-title);
    margin-bottom: 8rem;
}

.title-rocket span {
    font-size:3.75rem;
    color: var(--txt-title);
}

.wrapper-rocket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.img-rocket {
    width: 40vw;
    border: 1px solid rgba(255, 255, 255, 0.438);
    box-shadow: 2px 3px 2px rgba(0,0,0,0.4);
}

.wrapper-dedscription-rocket {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}

.description-rocket {
    font-family: 'Montserrat';
    text-align: justify;
    font-size: 2rem;
    line-height: 1.5;
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .title-rocket {
        font-size: 6rem;
        margin-bottom: 8rem;
    }
    
    .title-rocket span {
        font-size: 6rem;
    }
    #rocket {
        padding: 0 10rem;
    }

    .wrapper-rocket {
        display: flex;
        flex-direction: column;
    }
    
    .img-rocket {
        width: 45rem;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    .title-rocket {
        font-size: 4rem;
        margin-bottom: 8rem;
    }
    
    .title-rocket span {
        font-size: 4rem;
    }

    #rocket {
        padding: 0 6rem;
    }
    
    .wrapper-rocket {
        display: flex;
        flex-direction: column;
    }
    
    .img-rocket {
        width: 45rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .title-rocket {
        font-size: 3rem;
        margin-bottom: 8rem;
    }
    
    .title-rocket span {
        font-size: 3.5rem;
    }
    
    #rocket {
        padding: 0 6rem;
    }

    .wrapper-rocket {
        display: flex;
        flex-direction: column;
    }
    
    .img-rocket {
        width: 40rem;
    }
    
}

@media (min-width: 481px) and (max-width: 767px) {
    .title-rocket {
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }
    
    .title-rocket span {
        font-size: 3.5rem;
    }

    #rocket {
        padding: 0 5rem;
    }
    
    .wrapper-rocket {
        display: flex;
        flex-direction: column;
    }
    
    .img-rocket {
        width: 40rem;
    }
    

}

@media (max-width: 480px) {
    .title-rocket {
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }
    
    .title-rocket span {
        font-size: 3.5rem;
    }

    #rocket {
        padding: 0 5rem;
    }
    
    .wrapper-rocket {
        display: flex;
        flex-direction: column;
    }
    
    .img-rocket {
        width: 35rem;
    }
    
}
